<div class="register-form">
  <div class="register-form__container">
    <div class="register-form__card">
      <h2 class="register-form__title">Crie seu register</h2>

      <p class="register-form__description">
        Crie seu perfil gratuitamente para começar a trabalhar com os melhores freelancers.
        Em seguida, você poderá dar mais detalhes sobre suas demandas e sobre sua forma de trabalho.
      </p>

      <form [formGroup]="personalDataForm" (ngSubmit)="onProximo()">

        <div class="register-form__actions">
          <app-button
            text="Anterior"
            type="outline"
            icon="fas fa-arrow-left"
            iconPosition="left"
            (clicked)="onAnterior()">
          </app-button>

          <app-button
            text="Próximo"
            type="primary"
            icon="fas fa-arrow-right"
            iconPosition="right"
            [disabled]="personalDataForm.invalid"
            (clicked)="onProximo()">
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
