<div class="register-form">
  <div class="register-form__container">
    <div class="register-form__card">
      <h2 class="register-form__title">{{ formConfig.title }}</h2>

      <p class="register-form__description">
        {{ formConfig.description }}
      </p>

      <form [formGroup]="personalDataForm" (ngSubmit)="onNext()">
        @for (field of formConfig.fields; track $index) {
          <ng-container>
            @if (isFieldType(field, "text") || isFieldType(field, "email")) {
            <ng-container>
              <div
                class="register-form__field"
                [ngClass]="{
                  'register-form__field--half': field.width === 'half'
                }"
              >
                <label
                  [for]="field.formControlName"
                  class="register-form__label"
                  >{{ field.label }}</label
                >
                <input
                  [id]="field.formControlName"
                  [type]="field.type"
                  [formControlName]="field.formControlName"
                  [placeholder]="field.placeholder || ''"
                  class="register-form__input"
                />
                @if (personalDataForm.get(field.formControlName)?.invalid &&
                personalDataForm.get(field.formControlName)?.touched) {
                <div class="register-form__error">
                  @if(personalDataForm.get(field.formControlName)?.errors?.["required"])
                  {
                  <ng-container>
                    @for (errorMessage of field.errorMessages | keyvalue; track
                    $index) { @if
                    (personalDataForm.get(field.formControlName)?.errors?.[errorMessage.key])
                    {
                    <span>{{ errorMessage.value }}</span>
                    } }
                  </ng-container>
                  }
                </div>
                }
              </div>
            </ng-container>
            }
          </ng-container>
        }

        @if (hasField("state") && hasField("city")) {
          <ng-container>
            <div class="register-form__row">
              <!-- Campo Estado -->
              <div class="register-form__field register-form__field--half">
                <label for="state" class="register-form__label">{{
                  getFieldByName("state").label
                }}</label>
                <select
                  id="state"
                  formControlName="state"
                  class="register-form__select"
                >
                  <option value="" disabled selected>
                    {{ getFieldByName("state").placeholder || "Selecione" }}
                  </option>

                  @let states = (states$ | async);
                  @if(states) { @for (state of states; track
                  state.sigla) {
                  <ng-container>
                    <option [value]="state.sigla">{{ state.nome }}</option>
                  </ng-container>
                  } }
                </select>

                @if( personalDataForm.get("state")?.invalid &&
                personalDataForm.get("state")?.touched) {
                <ng-container>
                  @for (error of getFieldByName("state").errorMessages | keyvalue; track $index) {
                    @if (personalDataForm.get("state")?.hasError(error.key)) {
                      <span>{{ error.value }}</span>
                    }
                  }
                </ng-container>
                }
              </div>

              <!-- Campo city -->
              <div class="register-form__field register-form__field--half">
                <label for="city" class="register-form__label">
                  {{ getFieldByName('city').label }}
                </label>

                <select
                  id="city"
                  class="register-form__select"
                  formControlName="city"
                  [disabled]="(loadingCities$ | async) || !personalDataForm.get('estado')?.value"
                >
                  <option value="" disabled selected>
                    {{ (loadingCities$ | async) ? 'Carregando...' : (getFieldByName('city').placeholder || 'Selecione') }}
                  </option>

                  @if (cities$ | async; as cities$) {
                    @for (city of cities$; track city) {
                      <option [value]="city.nome">{{ city.nome }}</option>
                    }
                  }
                </select>

                @if (personalDataForm.get('city')?.invalid && personalDataForm.get('city')?.touched) {
                  <div class="register-form__error">
                    @for (error of getFieldByName('city').errorMessages | keyvalue; track $index) {
                      @if (personalDataForm.get('city')?.errors?.[error.key]) {
                        <span>{{ error.value }}</span>
                      }
                    }
                  </div>
                }
              </div>
            </div>
          </ng-container>

          <ng-container>
            <!-- Campos Senha e Confirma Senha (lado a lado) -->
            @if (hasField('password') && hasField('confirmPassword')) {
              <!-- Campo password -->
              <div class="register-form__row">
                <div class="register-form__field register-form__field--half">
                  <label for="password" class="register-form__label">
                    {{ getFieldByName('password').label }}
                  </label>
                  <input
                    id="password"
                    type="password"
                    class="register-form__input"
                    formControlName="password"
                  />

                  @if (personalDataForm.get('password')?.invalid && personalDataForm.get('password')?.touched) {
                    <div class="register-form__error">
                      @for (error of getFieldByName('password').errorMessages | keyvalue; track $index) {
                        @if (personalDataForm.get('password')?.errors?.[error.key]) {
                          <span>{{ error.value }}</span>
                        }
                      }
                    </div>
                  }
                </div>

                <!-- Campo Confirma Senha -->
                <div class="register-form__field register-form__field--half">
                  <label for="confirmPassword" class="register-form__label">
                    {{ getFieldByName('confirmPassword').label }}
                  </label>
                  <input
                    id="confirmPassword"
                    type="password"
                    class="register-form__input"
                    formControlName="confirmPassword"
                  />

                  @if (personalDataForm.get('confirmPassword')?.invalid && personalDataForm.get('confirmPassword')?.touched) {
                    <div class="register-form__error">
                      @for (error of getFieldByName('confirmPassword').errorMessages | keyvalue; track $index) {
                        @if (personalDataForm.get('confirmPassword')?.errors?.[error.key]) {
                          <span>{{ error.value }}</span>
                        }
                      }
                    </div>
                  }
                </div>
              </div>
            }

          </ng-container>
        }

        @if (personalDataForm.errors?.['passwordIsEqual'] && personalDataForm.touched) {
          <div class="register-form__error">
            <span>As senhas devem ser iguais</span>
          </div>
        }

        <div class="register-form__actions">
          <app-button
            text="Anterior"
            type="outline"
            icon="fas fa-arrow-left"
            iconPosition="left"
            (clicked)="onPrevious()"
          >
          </app-button>

          <app-button
            text="Próximo"
            type="primary"
            icon="fas fa-arrow-right"
            iconPosition="right"
            [disabled]="personalDataForm.invalid"
            (clicked)="onNext()"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
