<div class="register-form">
  <div class="register-form__container">
    <div class="register-form__card">
      <h2 class="register-form__title">Crie seu cadastro</h2>
      <p class="register-form__subtitle">
        Melhore sua descrição para atrair clientes!
      </p>

      <form [formGroup]="perfilForm" (ngSubmit)="onNext()">
        <div class="register-form__field">
          <label for="photo" class="register-form__label">Sua foto</label>

          <div class="register-form__upload-container">
            <div
              class="register-form__upload-area"
              [class.register-form__upload-area--with-preview]="photoPreview"
              (click)="fileInput.click()"
            >
              @if(!photoPreview) {
              <ng-container>
                <div>
                  <i class="fas fa-cloud-upload-alt"></i>
                  <p>
                    Arraste arquivos para esta área ou clique para fazer o
                    upload
                  </p>
                </div>
              </ng-container>
              } @if (photoPreview) {
              <ng-container>
                <img
                  [src]="photoPreview"
                  alt="Preview da foto"
                  class="register-form__photo-preview"
                />
              </ng-container>
              }
            </div>
            <input
              #fileInput
              type="file"
              accept="image/*"
              style="display: none"
              (change)="onSelectedPhoto($event)"
            />
          </div>
        </div>

        <div class="register-form__field">
          <label for="summary" class="register-form__label">Resumo</label>
          <textarea
            id="summary"
            formControlName="summary"
            class="register-form__textarea"
            maxlength="70"
            rows="3"
          ></textarea>

          <div class="register-form__field-info">
            <span>Faça um resumo em até 70 caracteres.</span>
            <span>{{ charactersLeft }} caracteres restantes.</span>
          </div>

          @if (perfilForm.get("summary")?.invalid &&
          perfilForm.get("summary")?.touched) {
          <div class="register-form__error">
            @if (perfilForm.get("summary")?.errors?.["required"]) {
            <span>Resumo é obrigatório</span>
            } @if (perfilForm.get("summary")?.errors?.["maxLength"]) {
            <span>Resumo precisa ter no máximo 70 caracteres</span>
            }
          </div>
          }
        </div>

        <div class="register-form__field">
          <label for="skills" class="register-form__label">
            Cite até 3 habilidades principais que você possui
          </label>

          <div class="register-form__chips">
            @for (skill of skills; track skill.name) {
            <app-chip
              [text]="skill.name"
              [selected]="skill.selected"
              [disabled]="
                !skill.selected &&
                perfilForm.get('selectedSkills')?.value.length >= 3
              "
              (clicked)="toggleSkill(skill)"
            ></app-chip>
            }
          </div>
        </div>

        <div class="register-form__field">
          <div class="register-form__row register-form__row--header">
            <div class="register-form__column">
              <label class="register-form__label">Idiomas</label>
            </div>
            <div class="register-form__column">
              <label class="register-form__label">Nível</label>
            </div>
          </div>

          <ng-container formArrayName="languages">
            @for (languageForm of languagesArray.controls; track $index) {
            <div [formGroupName]="$index" class="register-form__row">
              <div class="register-form__column">
                <select class="register-form__select" formControlName="name">
                  <option value="" disabled selected>Selecione</option>

                  @for (language of languages; track language) {
                  <option [value]="language">{{ language }}</option>
                  }
                </select>

                @if (languageForm.get("name")?.invalid &&
                languageForm.get("name")?.touched) {
                <div class="register-form__error">Idioma é obrigatório.</div>
                }
              </div>

              <div class="register-form__column">
                <select class="register-form__select" formControlName="level">
                  <option value="" disabled selected>Selecione</option>

                  @for (level of languageLevel; track level) {
                  <option [value]="level">{{ level }}</option>
                  }
                </select>

                @if (languageForm.get("level")?.invalid &&
                languageForm.get("level")?.touched) {
                <div class="register-form__error">Nível é obrigatório.</div>
                }
              </div>
            </div>

            <div class="register-form__column register-form__column--actions">
              @if ($index > 0 || languageForm.get("name")?.value !==
              "Português") {
              <button
                type="button"
                class="register-form__icon-button"
                (click)="removeLanguage($index)"
              >
                Remover Idioma
              </button>
              }
            </div>
            }
          </ng-container>

          <div class="register-form__add-button">
            <button
              type="button"
              class="register-form__text-button"
              (click)="addLanguage()"
            >
              <i class="fas fa-plus-circle"></i> Adicionar Idiomas
            </button>
          </div>
        </div>

        <div class="register-form__field">
          <label for="portfolio" class="register-form__label">
            Portfolio
          </label>
          <input
            id="portfolio"
            type="url"
            class="register-form__input"
            formControlName="portfolio"
          />

          @if(perfilForm.get("portfolio")?.invalid &&
          perfilForm.get("portfolio")?.touched) {
          <div class="register-form__error">
            URL inválida. Inclua http:// ou https://
          </div>
          }
        </div>

        <div class="register-form__field">
          <label for="linkedin" class="register-form__label"> LinkedIn </label>
          <input
            id="linkedin"
            type="url"
            class="register-form__input"
            formControlName="linkedin"
          />

          @if(perfilForm.get("linkedin")?.invalid &&
          perfilForm.get("linkedin")?.touched) {
          <div class="register-form__error">
            URL do LinkedIn inválida. Inclua http:// ou https://
          </div>
          }
        </div>

        <div class="register-form__actions">
          <app-button
            text="Anterior"
            type="outline"
            icon="fas fa-arrow-left"
            iconPosition="left"
            (clicked)="onPrevious()"
          >
          </app-button>

          <app-button
            text="Próximo"
            type="primary"
            icon="fas fa-arrow-right"
            iconPosition="right"
            [disabled]="perfilForm.invalid"
            (clicked)="onNext()"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
